html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #1a1a1a;
  position: relative;
}

#input {
  position: fixed;
  top: 4vh;
  left: 5vh;
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: bold;
}

#select {
  display: inline-block;
  margin-right: 10px;
}

input[type="number"] {
  height: 30px;
  font-size: large;
  font-weight: bold;
  background-color: #232323;
  color: #ffffff; 
}

#game {
  margin-top: 4vh;
  position: relative;
  text-align: center; 
}

#score {
  position: fixed;
  top: 4vh;
  right: 6vh;
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: bold;
}

#scoreValue {
  display: inline-block;
  min-width: 50px; 
}

#scoreLabel {
  margin-right: 5px;
  white-space: nowrap;
}

#board {
  --grid-size: 4;
  --cell-size: calc(75vmin / var(--grid-size));
  --cell-gap: calc(4vmin / var(--grid-size));
  background-color: #6c6c6c;
  border-radius: 1vmin;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  gap: var(--cell-gap);
  padding: var(--cell-gap);
  position: relative;
}

.cell {
  background-color: #393939;
  border-radius: 1vmin;
}

.tile {
  --background-lightness: 90%;
  --text-lightness: 50%;
  --x: 0;
  --y: 0;
  position: absolute;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  animation: show 200ms ease-in-out;
  background-color: hsl(100, 50%, var(--background-lightness));
  color: hsl(100, 50%, var(--text-lightness));
  transition: 100ms ease-in-out;
  font-size: x-large;
}

#childDiv {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#board.child-removed #childDiv {
  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
